<div x-data="{ editing: false }" class="max-w-sm p-4 bg-white border border-gray-300 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300 ease-in-out cursor-pointer">
  <!-- View Mode (Note Content) -->
  <div x-show="!editing">
    <%= note&.content %>
    <div class="mt-2 flex justify-end">
      <button @click.prevent="editing = true" class="px-2 py-1 bg-yellow-500 text-white rounded hover:bg-yellow-600 focus:outline-none">
        Edit
      </button>
    </div>
  </div>

  <!-- Edit Mode (Form) -->
  <div x-show="editing" class="mt-4">
    <%= form_for(note, url: '#', method: :patch, class: 'break-words') do |f| %>
        <div class="trix-container">
          <%= f.rich_text_area :content, id: note.id, data: { controller: "trix" } %>
        </div>
        <div class="flex justify-end mt-2">
          <button @click.prevent="editing = false" type="button" class="mr-2 px-3 py-1 bg-gray-500 text-white rounded hover:bg-gray-600 focus:outline-none">
            Cancel
          </button>
          <%= f.submit 'Save', class: 'px-3 py-1 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
